---
---
@import "{{ site.theme }}";


header img {
  width: 150px;
  height: auto;
  border-radius: 10%;
  

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; 
}
.view {
    display: none !important;
}

.proje-vurgu {
    font-weight: 600; 
    font-size: 1.05em; 
    margin-right: 5px;
}

.cv-button {
    display: block; 
    width: fit-content; 
    padding: 5px 10px;
    background-color: #2e81b7;
    color: white !important;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px; 
}  


.lang-switcher-fixed {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    /* Diğer stil özellikleri yukarıdakiyle aynı kalabilir */
    padding: 8px 15px;
    background-color: white;
    border: 2px solid #159957;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
