---
---
@import "{{ site.theme }}";


header img {
  width: 150px;
  height: auto;
  border-radius: 10%;
  

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; 
}
.view {
    display: none !important;
}

.proje-vurgu {
    font-weight: 600; 
    font-size: 1.05em; 
    color: #159957; 
    margin-right: 5px;
}
